<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gighub.member.mapper.UserMapper">

    <select id="countByLoginId" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE login_id = #{loginId}
    </select>

    <select id="countByEmail" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}
    </select>

    <sql id="authenticationColumns">
        id,
        login_id,
        password_hash,
        name,
        role,
        status
    </sql>

    <select id="findByLoginId" resultType="com.gighub.member.domain.User">
        SELECT <include refid="authenticationColumns"/>
        FROM users
        WHERE login_id = #{loginId}
          AND role IN ('OWNER', 'WORKER')
    </select>

    <select id="findById" resultType="com.gighub.member.domain.User">
        SELECT <include refid="authenticationColumns"/>
        FROM users
        WHERE id = #{userId}
          AND role IN ('OWNER', 'WORKER')
    </select>

    <sql id="profileColumns">
        id,
        login_id,
        email,
        name,
        phone,
        role,
        status
    </sql>

    <select id="findProfileById" resultType="com.gighub.member.domain.User">
        SELECT <include refid="profileColumns"/>
        FROM users
        WHERE id = #{userId}
          AND role IN ('OWNER', 'WORKER')
    </select>


    <select id="lockById" resultType="com.gighub.member.domain.User">
        SELECT id, role
        FROM users
        WHERE id = #{userId}
          AND role IN ('OWNER', 'WORKER')
            FOR UPDATE
    </select>

    <update id="updatePhone">
        UPDATE users
        SET phone = #{phone}
        WHERE id = #{userId}
          AND role IN ('OWNER', 'WORKER')
    </update>

    <insert id="insert"
            parameterType="com.gighub.member.domain.User"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO users
        (
            login_id,
            email,
            password_hash,
            name,
            phone,
            role,
            status
        )
        VALUES
        (
            #{loginId},
            #{email},
            #{passwordHash},
            #{name},
            #{phone},
            #{role},
            #{status}
        )
    </insert>

</mapper>
